name: Tests on push

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        run: pipx install uv ruff mypy pytest
      - name: Install dependencies
        run: uv sync
      - name: Run ruff
        run: uv run ruff check .
      - name: Run mypy
        run: uv run mypy caten
      - name: Run pytest
        run: uv run pytest ./tests
